<%- include('../partials/header.ejs') %>

    <div class = "container">
        <div class = "row justify-content-center">
            <div class="col-6">
                <form method = "POST" action="/event/<%= event.id%>?_method=PUT" class="new-form">
                    <div class="mb-3">
                        <label  class="form-label">Title</label>
                        <input type="text" class="form-control" name="title" id="title" value="<%=event.title%>" required>
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Host</label>
                        <input type="text" class="form-control" name="host" id="host" value="<%=event.host%>" required>
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Details</label>
                        <textarea class="form-control" required minlength="10" id="details" name="details"><%=event.details%></textarea>
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Where</label>
                        <input type="text" class="form-control" required id="location" name="location" value="<%=event.location%>">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Start</label>
                        <label  class="form-label">End</label>
                        <div class="input-group">
                        <input type="date" class="form-control" id="start" name="start" value="<%=event.start%>">
                        <input type="date" class="form-control" id="end" name="end" value="<%=event.end%>">
                    </div>
                </div>
                    <!-- <div class="mb-3">
                        <label  class="form-label">Image</label>
                        <input type="file" class="form-control">
                    </div> -->
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>