<%- include('../partials/header.ejs') %>

<div class="container" id="event-container">
  <h3 class="m-4 text-center"><%=event.title%></h3>
  <div class="row">
    <div class="col">
      <img src="../images/cltvmiami.png" class="img-fluid rounded ps-4 " alt="event">
    </div>
    <div class="col">
      <ul class="list-unstyled">
        <li>
          <strong>Host: <%=event.host.firstName%> <%=event.host.lastName%>  </strong>
        </li>
        <li>
          <strong>Category: </strong><%=event.category %>
        </li>
        <li>
          <strong>Start Time: </strong><%=event.start %>
        </li>
        <li>
          <strong>End Time: </strong><%=event.end %>
        </li>
        <li >
          <strong>Location: </strong><%=event.location %>
        </li>
        <li>
          <strong>Details: </strong><%=event.details %>
        </li>
        <li>
          <strong>RSVPs: </strong> 0
        </li>
      </ul>
      <div>  
        <strong class="fs-5">Going?</strong>
        <br>
        <br>
        <div class="d-flex align-items-center">
            <form action="<%=event.id%>/rsvp" method="POST">
              <button type="submit" value="YES" name="RSVP" class="btn btn-success mx-1">Yes</button>
            </form>
            <form action="<%=event.id%>/rsvp" method="POST">
              <button type="submit" value="NO" name="RSVP" class="btn btn-danger mx-1">No</button>
            </form>
            <form action="<%=event.id%>/rsvp" method="POST">
              <button type="submit" value="MAYBE" name="RSVP" class="btn btn-primary mx-1">Maybe</button>
            </form>
        </form>
      </div>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>